.header-container {
    display: flex;
    height: 60px;
    padding: 0 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #B72424;
    flex: 1 0 0;

    .navbar-header {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        width: 100%;

        .header-left {
            width: 153px;
            height: 40.519px;
            aspect-ratio: 153.00/40.52;

        }

        .header-center {
            display: flex;
            align-items: center;
            gap: 1.6vw;
            right: 338px;

            .link {
                display: flex;

                align-items: center;

                .pound {
                    color: rgba(255, 255, 255, 0.50);

                    /* www.nytimes.com/Semantic/Link */
                    font-family: var(--font-family-Font-1, "Inter Display");
                    font-size: 11.438px;
                    font-style: normal;
                    font-weight: var(--font-weight-500, 500);
                    line-height: var(--line-height-12, 12px);
                    /* 104.918% */
                    letter-spacing: var(--letter-spacing-0_12, 0.12px);
                }

                .title {
                    color: #FFF;

                    /* www.nytimes.com/Semantic/Link */
                    font-family: var(--font-interdisplay), InterDisplay, sans-serif;
                    font-size: 11.438px;
                    font-style: normal;
                    font-weight: var(--font-weight-500, 500);
                    line-height: var(--line-height-12, 12px);
                    /* 104.918% */
                    letter-spacing: var(--letter-spacing-0_12, 0.12px);
                }
            }
        }

        .header-right {
            display: flex;
            align-items: center;

            .button-shop {
                display: flex;
                padding: 7px 14px;
                align-items: center;
                gap: 7px;
                border-radius: 24px;
                background: #FFF;

                .logo-shop {
                    display: flex;
                    width: 16px;
                    height: 16px;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio: 1/1;
                }

                .title-shop {
                    color: #B5191D;
                    text-align: center;
                    font-family: var(--font-interdisplay);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                    /* 14.4px */
                    letter-spacing: -0.12px;
                }
            }

            .login-header {
                display: flex;
                padding: 7px 14px;
                align-items: center;
                gap: 7px;
                border-radius: 24px;

                .logo-login {
                    width: 16px;
                    height: 16px;
                    flex-shrink: 0;
                }

                .title-login {
                    color: #FFF;
                    text-align: center;
                    font-family: var(--font-interdisplay);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                    /* 16.8px */
                    letter-spacing: -0.14px;
                }
            }
        }
    }
}