.searching-container {
    background: #121212;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 0 24px;
    gap: 10px;

    .navbar-searching {
        display: flex;
        align-items: center;
        gap: 14px;
        flex: 1 0 0;

        .icon-card {
            width: 16px;
            height: 16px;
        }

        .card-searching {
            display: flex;
            padding: 3px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.40);
            color: var(--www-nytimes-com-white, var(--color-white-solid, #FFF));
            text-align: center;
            font-family: var(--font-interdisplay), InterDisplay, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: var(--font-weight-500, 500);
            line-height: 20px;
            /* 166.667% */
        }
    }

    .searching-box {
        display: flex;
        padding: 6px 14px 6px 10px;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        background: rgba(255, 255, 255, 0.15);
        min-width: 250px;
        /* Use min-width for flexibility */

        @media (max-width: 1025px) {
            min-width: 150px;
        }

        .icon-searching {
            stroke-width: 1px;
            stroke: #FFF;
        }

        .title-box {
            color: #FFF;
            font-family: var(--font-interdisplay), InterDisplay, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 100%;
            background: transparent;
            border: none;
        }
    }
}

.searching-slide {
    width: auto !important;
}

.searching-swiper {
    flex: 1;
}