.video-slide {


    align-items: flex-start;
    gap: var(--item-spacing-s, 14px);
    background-color: #121212;
    flex-direction: column;
    width: 184px;
    display: flex;


}

.video-card__thumb {
    width: 184px;
    height: 223px;
    position: relative;
}

.video-card__image {
    object-fit: cover;
    width: 100%;
    height: 223px;
    display: block;


}

.video-card__play {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    border-radius: 60px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video-card__title {
    color: #FFF;
    font-family: var(--font-interdisplay), InterDisplay, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    width: 100%;
    line-height: 135%;
    width: 184px;
    /* 16.2px */
}



.video .body-video .swiper {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 0;
    width: 100%;
    /* Add explicit width */
    min-width: 0;
    flex: 1;
}





.video .body-video .swiper-slide {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    width: 184px !important;
    /* Force width */
    flex-shrink: 0;
    /* Prevent shrinking */
    gap: var(--item-spacing-s, 14px);
    background-color: #121212;


}

.btn-vid {
    background: rgba(255, 255, 255, 0.20);
    color: #FFF;
}